{% extends "_base.html" %}
{% load socialaccount %}
{% block meta_viewport %}
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
{% endblock %}
{% block body_tag %}
<body style="touch-action: manipulation;">
{% endblock %}
{% block content %}
    {% load static %}
    {% load crispy_forms_tags %}
    <div id="app" class="container-xl">
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-between">
                    <div>
                        {% if user.is_authenticated %}
                        <a class="btn btn-outline-dark {% if user != owner%}invisible{% endif %}" href="{% url 'deck_list' %}">戻る</a>
                        {% endif %}
                    </div>
                    <div>
                        {% if not user.is_authenticated %}
                        <a class="btn btn-outline-dark" href="{% provider_login_url 'google' %}">ログイン</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div id="question_text_field" class="mb-5" style="min-height: 400px;">
            <div class="row">
                <div class="col"></div>
                <div class="col text-center display-4">
                    <span>[[countClosePanels()]]/[[panels.length]]</span>
                </div>
                <div class="col d-flex align-items-center"><img style="height: 48px; cursor: pointer;" src="{% static "icons/lightbulb.svg" %}" @click="eventClickLight()"></img></div>
            </div>
            <div class="row mt-3">
                <div v-for="(panel, index) in panels" class="col-2 col-lg-1 p-1" @click="open(index)">
                    <div class="embed-responsive embed-responsive-1by1 border d-flex align-items-center justify-content-center m-0 display-custom" :class="[panel.isOpen? 'alert alert-light' : 'alert alert-dark']" style="cursor: pointer; user-select: none;">
                        <span class="text-dark" v-if="panel.isOpen">[[panel.chara]]</span>
                        <span v-else>[[index + 1]]</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-around">
            <div class="col col-md-8">
                <div class="card">
                    <div class="card-header position-relative">
                      <button class="btn btn-link stretched-link" type="button"
                          data-toggle="collapse" data-target="#card-answer"
                          aria-expanded="false" aria-controls="card-answer">
                          正解表示
                      </button>
                    </div>
                    <div id="card-answer" class="collapse">
                      <div class="card-body">
                        {{ questioncard.correct_answer }}
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3 mb-3 justify-content-around">
            <div class="col-12 col-md-8">
                <div class="card">
                    <div class="card-header position-relative">
                        <button class="btn btn-link stretched-link" type="button"
                            data-toggle="collapse" data-target="#card-controller"
                            aria-expanded="false" aria-controls="card-controller">
                            コントローラー表示
                        </button>
                    </div>
                    <div id="card-controller" class="collapse">
                    <div class="card-body">
                        <div class="row justify-content-around">
                            <div class="col-1"><a class="prev_question_button" {% if prev_url != None %} href="{{ prev_url }}" {% else %} href="#" style="visibility: hidden;" {% endif %}><img style="height: 48px" src="{% static "icons/caret-left-square.svg" %}"></img></a></div>
                            <div class="col-1"><a class="next_question_button" {% if next_url != None %} href="{{ next_url }}" {% else %} href="#" style="visibility: hidden;" {% endif %}><img style="height: 48px" src="{% static "icons/caret-right-square.svg" %}"></img></a></div>
                        </div>
                        <div class="row mt-3 justify-content-center">
                            <div class="col-12 d-flex flex-wrap">
                                {% for url in urls %}
                                    <div class="p-1 mb-3 ask_question_jump_question_button"><a class="btn {% if question_number == forloop.counter %} btn-secondary {% else %} btn-outline-dark {% endif %} btn-block" href="{{url}}">{{forloop.counter}}</a></div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const questionText = "{{ questioncard.question_text }}";
        const splitedQuestionTextFromServer = questionText.split("");

        const app = Vue.createApp({
            data() {
                return {
                    panels : splitedQuestionTextFromServer.map((c)=>{
                        return {
                            chara: c,
                            isOpen: false
                        }
                    }),
                }
            },
            methods: {
                open: function(index) {
                    this.panels[index].isOpen = !this.panels[index].isOpen;
                },
                eventClickLight: function(){
                    if(this.panels.every((element) => element.isOpen)) {
                        this.closeAll();
                    } else {
                        this.openAll();
                    }
                },
                openAll: function() {
                    this.panels.forEach((element) => element.isOpen = true);
                },
                closeAll:function() {
                    this.panels.forEach((element) => element.isOpen = false);
                },
                countClosePanels() {
                    return this.panels.filter(panel=>!panel.isOpen).length;
                }
            },
            delimiters: ['[[', ']]']
        }).mount("#app");
    </script>
{% endblock %}