{% extends "_base.html" %}
{% block content %}
    {% load crispy_forms_tags %}
    <div id="app" class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-between">
                    <div>
                        <a class="btn btn-outline-dark" href="{% url 'deck_list' %}">戻る</a>
                    </div>
                    <div>
                        <a class="btn btn-outline-dark" href="{% url 'question_card_create' request.resolver_match.kwargs.deck_pk %}">新規</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <ul v-if="questionCardList.length" class="list-group">
                    <question-card-component v-for="(questionCard, index) in questionCardList"
                    :question-card-pk="questionCard.questionCardPk"
                    :question-text="questionCard.questionText"
                    :correct-answer="questionCard.correctAnswer"
                    :question-card-update-url="questionCard.questionCardUpdateUrl"
                    :question-card-delete-url="questionCard.questionCardDeleteUrl"
                    :number="index"
                    :is-first="index == 0"
                    :is-last="index == questionCardList.length - 1"
                    @up="up"
                    @down="down"></my-template>
                </ul>
                <ul v-else>
                    <li class="list-group-item">
                        対象のデータがありません
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script>
        const questionCardListFromServer = [
            {% for questioncard in questioncard_list %}
                {
                    questionCardPk: "{{questioncard.pk}}",
                    questionText: "{{ questioncard.question_text|default_if_none:'未入力' }}",
                    correctAnswer: "{{ questioncard.correct_answer|default_if_none:'未入力' }}",
                    questionCardUpdateUrl: "{% url 'question_card_update' questioncard.pk %}",
                    questionCardDeleteUrl: "{% url 'question_card_delete' questioncard.pk %}",
                },
            {% endfor %}
        ];

        const QuestionCardComponent = {
            props:["questionCardPk", "questionText", "correctAnswer", "questionCardUpdateUrl", "questionCardDeleteUrl", "number", "isFirst", "isLast"],
            template: `
                <li class="list-group-item question_card">
                    {# 必要な項目を追加してください #}
                    <div class="row ">
                        <div class="col-1">
                            <div class="row">
                                <div class="col">
                                    [[number + 1]]
                                </div>
                            </div>
                        </div>
                        <div class="col-10">
                            <div class="row">
                                <div class="col-4 col-sm-3">
                                    <p>問題文</p>
                                </div>
                                <div class="col-8 col-sm-9">
                                    <p>[[questionText]]</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4 col-sm-3">
                                    <p>正解</p>
                                </div>
                                <div class="col-8 col-sm-9">
                                    <p>[[correctAnswer]]</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="float-right">
                                        <a class="btn btn-outline-dark " v-bind:href="questionCardUpdateUrl">編集</a>
                                        <a class="btn btn-outline-dark " v-bind:href="questionCardDeleteUrl">削除</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-1">
                            <div class="row">
                                <div class="col float-right">
                                    <a class="btn btn-outline-dark" :class="{'disabled' : isFirst}" href="#" @click.prevent.stop="up">↑</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col float-right">
                                    <a class="btn btn-outline-dark" :class="{'disabled' : isLast}" href="#" @click.prevent.stop="down">↓</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>`
                ,
            methods:{
                up: function(){
                    this.$emit("up", this.number);
                },
                down: function(){
                    this.$emit("down", this.number);
                }
            },
            delimiters: ['[[', ']]']
        };

        const app = Vue.createApp({
            data() {
                return {
                    questionCardList : questionCardListFromServer,
                }
            },
            methods: {
                up: function(number) {
                    axios.defaults.xsrfCookieName = 'csrftoken'
                    axios.defaults.xsrfHeaderName = "X-Csrftoken"
                    axios.post("{% url 'question_card_swap' %}", {
                        questionCardPk1: this.questionCardList[number].questionCardPk,
                        questionCardPk2: this.questionCardList[number - 1].questionCardPk
                    })
                    .then((res) => {
                        [this.questionCardList[number], this.questionCardList[number - 1]] = [this.questionCardList[number - 1], this.questionCardList[number]];
                    });
                },
                down: function(number) {
                    axios.defaults.xsrfCookieName = 'csrftoken'
                    axios.defaults.xsrfHeaderName = "X-Csrftoken"
                    axios.post("{% url 'question_card_swap' %}", {
                        questionCardPk1: this.questionCardList[number].questionCardPk,
                        questionCardPk2: this.questionCardList[number + 1].questionCardPk
                    })
                    .then((res) => {
                        [this.questionCardList[number], this.questionCardList[number + 1]] = [this.questionCardList[number + 1], this.questionCardList[number]];
                    });
                }
            },
            delimiters: ['[[', ']]']
        }).component("question-card-component", QuestionCardComponent).mount("#app");
    </script>
{% endblock %}