{% extends "_base.html" %}
{% block content %}
    {% load crispy_forms_tags %}
    <div id="counter" class="container">
        <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">検索条件</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form id="filter" method="get">
                        <div class="modal-body">
                            {{ filter.form|crispy }}
                        </div>
                    </form>
                    <div class="modal-footer">
                        <a class="btn btn-outline-dark" data-dismiss="modal">戻る</a>
                        <button type="submit" class="btn btn-outline-dark" form="filter">検索</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <a class="btn btn-secondary filtered" style="visibility:hidden" href="/?page=1">検索を解除</a>
                <div class="float-right mt-1">
                    <a class="btn btn-outline-dark" href="{% url 'deck_list' %}">戻る</a>
                    <a class="btn btn-outline-dark" href="{% url 'question_card_create' request.resolver_match.kwargs.deck_pk %}">新規</a>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-10 mx-auto">
                {% include "_pagination.html" %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ul class="list-group">
                    {% for questioncard in questioncard_list %}
                        <li class="list-group-item">
                            {# 必要な項目を追加してください #}
                            <div class="row">
                                <div class="col-11">
                                    <div class="row">
                                        <div class="col-5 col-sm-3">
                                            <p>問題文</p>
                                        </div>
                                        <div class="col-7 col-sm-9">
                                            <p>{{ questioncard.question_text|default_if_none:"未入力" }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-5 col-sm-3">
                                            <p>正解</p>
                                        </div>
                                        <div class="col-7 col-sm-9">
                                            <p>{{ questioncard.correct_answer|default_if_none:"未入力" }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="float-right">
                                                <a class="btn btn-outline-dark " href="{% url 'question_card_update' questioncard.pk %}">編集</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-1">
                                    <div class="row">
                                        <div class="float-right">
                                            <a class="btn btn-outline-dark " href="#">↟</a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="float-right">
                                            <a class="btn btn-outline-dark " href="#">↑</a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="float-right">
                                            <a class="btn btn-outline-dark " href="#">↓</a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="float-right">
                                            <a class="btn btn-outline-dark " href="#">↡</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            {% if False %}
                            <div class="row">
                                <div class="col-12">
                                    <div class="float-right">
                                        <a class="btn btn-outline-dark " href="{% url 'deck_update' deck.pk %}">編集</a>
                                        <a class="btn btn-outline-dark " href="{% url 'delete' deck.pk %}">削除</a>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </li>
                    {% empty %}
                        <li class="list-group-item">
                            対象のデータがありません
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-10 mx-auto">
                {% include "_pagination.html" %}
            </div>
        </div>
        <div class="row">
            <template>
                <div>
                    <div v-for="(item, index) in items" :key="item.id" @click="swap(index)">
                        {{ item.name }}
                    </div>
                </div>
              </template>
        </div>
        <ul class="list-group">
            {% for questioncard in questioncard_list %}
                <my-template name="{{ questioncard.question_text|default_if_none:'未入力' }}"></my-template>
            {% endfor %}
        </ul>
    </div>
    <div id="app" class="container">
        <div ref="aaa">
            {% for questioncard in questioncard_list %}
                <my-template question_text="{{ questioncard.question_text|default_if_none:'未入力' }}"
                            correct_answer="{{ questioncard.correct_answer|default_if_none:'未入力' }}"
                            question_card_update_url="{% url 'question_card_update' questioncard.pk %}"></my-template>
            {% endfor %}
        </div>
        <button @click="swap()">change!!</button>
    </div>
    <script>
        const Counter = {
            data() {
                return {
                    counter: 0,
                    items : [{ message: 'Foo' }, { message: 'Bar' }]
                }
            },
            methods: {
                addValue(d) {
                    this.counter += d;
                },
                submitdjnago(d) {
                    self = this
                    axios.get('vuetest')
                    .then(function (res) {
                        self.counter++;
                    });
                    //this.counter += d;
                },
                change() {
                    [this.items[0], this.items[1]] = [this.items[1], this.items[0]];
                }
            },
            /*
                配列
            */
            /*mounted() {
                setInterval(() => {
                    this.counter++
                }, 1000)
            },*/
            delimiters: ['[[', ']]']
        }
     
        const app = Vue.createApp(
            Counter
        )
        app.component("my-template", {
            props:["name"],
            template: `
                <div class="row">
                    <div class="col">
                        <p>[[name]]</p>
                    </div>
                </div>
            `,
            delimiters: ['[[', ']]']
        });
        app.mount("#counter")

        const ComponentA = {
            props:["question_text", "correct_answer", "question_card_update_url"],
            template: `
                <li class="list-group-item question_card">
                    {# 必要な項目を追加してください #}
                    <div class="row ">
                        <div class="col-11">
                            <div class="row">
                                <div class="col-5 col-sm-3">
                                    <p>問題文</p>
                                </div>
                                <div class="col-7 col-sm-9">
                                    <p>[[question_text]]</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 col-sm-3">
                                    <p>正解</p>
                                </div>
                                <div class="col-7 col-sm-9">
                                    <p>[[correct_answer]]</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="float-right">
                                        {# <a class="btn btn-outline-dark " href="{% url 'question_card_update' questioncard.pk %}">編集</a> #}
                                        <a class="btn btn-outline-dark " v-bind:href="question_card_update_url">編集</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-1">
                            <div class="row">
                                <div class="float-right">
                                    <a class="btn btn-outline-dark " href="#">↟</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="float-right">
                                    <a class="btn btn-outline-dark " href="#">↑</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="float-right">
                                    <a class="btn btn-outline-dark " href="#">↓</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="float-right">
                                    <a class="btn btn-outline-dark " href="#">↡</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    {% if False %}
                    <div class="row">
                        <div class="col-12">
                            <div class="float-right">
                                <a class="btn btn-outline-dark " href="{% url 'deck_update' deck.pk %}">編集</a>
                                <a class="btn btn-outline-dark " href="{% url 'delete' deck.pk %}">削除</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </li>`
                ,
            delimiters: ['[[', ']]']
        }

        const app2 = Vue.createApp({
            data() {
                return {
                    counter: 0,
                    items : [{ message: 'Foo' }, { message: 'Bar' }]
                }
            },
            methods: {
                swap() {
                    const aaa = this.$refs.aaa;
                    quetioncards = aaa.getElementsByClassName("question_card");
                    aaa.insertBefore(quetioncards[0], null)
                }
            },
            delimiters: ['[[', ']]']
        }).component("my-template", ComponentA).mount("#app")
    </script>
{% endblock %}