{% extends "_base.html" %}
{% block content %}
    {% load crispy_forms_tags %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="float-right mt-1">
                    <a class="btn btn-outline-dark" href="{% url 'index' %}">戻る</a>
                    <a class="btn btn-outline-dark" href="{% url 'deck_create' %}">新規</a>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-10 mx-auto">
                {% include "_pagination.html" %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ul class="list-group">
                    {% for deck in deck_list %}
                        <li class="list-group-item">
                            {# 必要な項目を追加してください #}
                            <div class="row">
                                <div class="col-5 col-sm-3">
                                    <p>デッキ名</p>
                                </div>
                                <div class="col-7 col-sm-9">
                                    <p>{{ deck.deck_name|default_if_none:"未入力" }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    {% if deck.in_deck.all|length > 0 %}
                                    <div class="float-left">
                                        <a class="btn btn-outline-dark " href="{% url 'ask_question' deck.pk 1 %}">出題</a>
                                    </div>
                                    {% endif %}
                                    <div class="float-right d-flex justify-content-center">
                                        {% if deck.public_flag %}
                                        <div class="d-inline" style="margin-top: 10px;">
                                        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="問題文推理クイズのデッキを公開しました。" data-url="{{ request.scheme }}://{{ request.get_host }}{% url 'ask_question' deck.pk 1 %}" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                                        </div>
                                        <div class="fb-share-button m-auto" data-href="{{ request.scheme }}://{{ request.get_host }}{% url 'ask_question' deck.pk 1 %}" data-layout="button"></div>
                                        {% endif %}
                                        <a class="btn btn-outline-dark " href="{% url 'question_card_list' deck.pk %}">問題</a>
                                        <a class="btn btn-outline-dark " href="{% url 'deck_update' deck.pk %}">編集</a>
                                        <a class="btn btn-outline-dark " href="{% url 'deck_delete' deck.pk %}">削除</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% empty %}
                        <li class="list-group-item">
                            対象のデータがありません
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-10 mx-auto">
                {% include "_pagination.html" %}
            </div>
        </div>
    </div>
{% endblock %}