{% extends "_base.html" %}
<!--  -->
{% block content %}
    <div class="container">
        <h2 class="text-center">データ削除</h2>
        <p>このデータを削除します。よろしいですか？</p>

        <form action="" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-between">
                        <div>
                            <a class="btn btn-outline-dark" href="{% url 'deck_list' %}">戻る</a>
                        </div>
                        <div>
                            <input type="submit" class="btn btn-outline-dark delete" value="削除"/>
                        </div>
                    </div>
                </div>
            </div>
            {% include "./deck_detail_contents.html" %}
        </form>
    </div>
{% endblock %}